PORT=3000
NODE_ENV=development
WEATHER_API_KEY=
GEMINI_API_KEY=
CACHE_TTL=600
MONGODB_URI=mongodb://localhost:27017/skysense-ai
JWT_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
